<h1>Create a new blog</h1>



<form action="/blogs" method="POST">
    <input type="text" placeholder="Title" name="blog[title]"><br>
    <br>
    <input type="text" placeholder="Image URL" name="blog[image]"><br>
    <br>
    <textarea name="blog[body]" id="blogBody" cols="30" rows="10" placeholder="Description"></textarea><br>
    <br>
    <input type="submit">
</form>